extends layout

block extraHeader
  script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
  link(rel="stylesheet" href="/bower_components/jstree/dist/themes/default/style.min.css")
  script(type="text/javascript" src="/bower_components/jstree/dist/jstree.min.js")

  script.
    $(function() {
      var data = !{data};
      $('#container').jstree(data);
    });

block content
  h1= title
  p Welcome to #{title}
  .container
    #container
