extends layout

block extraHeader
  script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
  link(rel="stylesheet" href="/bower_components/jstree/dist/themes/default/style.min.css")
  script(type="text/javascript" src="/bower_components/jstree/dist/jstree.min.js")

  script.
    $(function() {
      var data = !{data};
      $('#container').jstree({
        'core' : {
          'data' : data,
          'themes' : {
            'icons' : false,
            'dots' : false
          }
        },
        'plugins' : ['checkbox', 'search'],
        'search' : {
          'show_only_matches' : true
        }
      });

      $('.search').keyup(function(){
        if(typeof to != 'undefined') { clearTimeout(to);}
        to = setTimeout(function() {
          var v = $('.search').val();
          $('#container').jstree(true).search(v);
        })
      });
    });

block content
  h1= title
  p Welcome to #{title}
  .container
    input.form-control.search(type="text")
    #container
