doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css")

    script(type="text/javascript" src="/bower_components/jstree/dist/jstree.min.js")
    block extraHeader

  body
    block content
